/* sidenav drag elements */
:host .toolbar {
  height: 100px;
  text-align: center;
}

button {
  height: 30px;
}

.draggable {
  padding: 10px;
  height: 100px;
  width: 200px;
  border: solid 2px #fc766a;
  margin-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: grab;

  background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);

  display:flex;
  align-items:center;
  justify-content:center;
}

.draggable:active {
  cursor: grabbing;
}