<!-- sidenav toolbar adding component -->
    <div class="toolbar">
      <button (click)="layoutService.addItem()" mat-raised-button color="primary">Add Item</button>
      <div
        class="draggable"
        draggable="true"
        (dragend)="layoutService.dropItem('example1')"
      >
        Bar Chart
      </div>
      <div
        class="draggable"
        draggable="true"
        (dragend)="layoutService.dropItem('example2')"
      >
        Stack Bar Chart
      </div>
      <div
        class="draggable"
        draggable="true"
        (dragend)="layoutService.dropItem('example3')"
      >
        Donut Chart
      </div>
      <div
        class="draggable"
        draggable="true"
        (dragend)="layoutService.dropItem('example4')"
      >
        Fill Line Chart
      </div>
      <div
        class="draggable"
        draggable="true"
        (dragend)="layoutService.dropItem('example5')"
      >
        Line Chart
      </div>
      <div
        class="draggable"
        draggable="true"
        (dragend)="layoutService.dropItem('example6')"
      >
        Scatter Plot
      </div>
      <div
        class="draggable"
        draggable="true"
        (dragend)="layoutService.dropItem('example7')"
      >
        Number
      </div>
    </div>